# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/android/.idea/.gitignore
/android/app/.gitignore
/android/.gitignore
/android/app/src/main/res/layout/activity_main.xml
/android/app/src/main/AndroidManifest.xml
/android/app/build.gradle
/android/build.gradle
/android/app/capacitor.build.gradle
/android/app/src/main/assets/capacitor.config.json
/android/app/src/main/assets/capacitor.plugins.json
/android/capacitor.settings.gradle
/android/.idea/compiler.xml
/android/app/src/main/res/xml/config.xml
/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
/android/app/src/main/res/xml/file_paths.xml
/android/gradle.properties
/android/gradle/wrapper/gradle-wrapper.jar
/android/gradle/wrapper/gradle-wrapper.properties
/android/gradlew
/android/gradlew.bat
/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/android/app/src/main/res/drawable/ic_launcher_background.xml
/android/app/src/main/res/values/ic_launcher_background.xml
/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/android/.idea/jarRepositories.xml
/android/app/src/main/java/com/techoutopia/webstatus/MainActivity.java
/android/.idea/misc.xml
/android/app/proguard-rules.pro
/android/.idea/runConfigurations.xml
/android/settings.gradle
/android/app/src/main/res/drawable/splash.png
/android/app/src/main/res/drawable-land-hdpi/splash.png
/android/app/src/main/res/drawable-land-mdpi/splash.png
/android/app/src/main/res/drawable-land-xhdpi/splash.png
/android/app/src/main/res/drawable-land-xxhdpi/splash.png
/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
/android/app/src/main/res/drawable-port-hdpi/splash.png
/android/app/src/main/res/drawable-port-mdpi/splash.png
/android/app/src/main/res/drawable-port-xhdpi/splash.png
/android/app/src/main/res/drawable-port-xxhdpi/splash.png
/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
/android/app/src/main/res/values/strings.xml
/android/app/src/main/res/values/styles.xml
/android/variables.gradle
